<h3><%= @comment %></h3>
<h2><%= @title %></h2>
<table>
    <% @tables.each do |t| %>
    <tr>
        <td>
            <%= link_to t["table_name"] , show_path( :id => t.id ) %>
        </td>
    </tr>
    <% end %>
    <tr>
        <% if @tables.last.strength != -1 %>
            <td>
                <%= link_to "この中にはない" , apolo_path( :id => params['id'] ) %>
            </td>
        <% end %>
    </tr>
</table>