<h1><%= @title %></h1>
<h3><%= @comment %></h3>
<table>
    <% @tables.each do |t| %>
    <tr>
        <td>
            <%= link_to t["table_name"] , show_path( :id => t.id ) %>
        </td>
    </tr>
    <% end %>
</table>