<%= form_for @tokinator_column do |f| %>
    追加したいカラム名：
    <%= f.text_field :colunm_name %>
<% end %>

<ul>
    <% @tokinator_columns.each do |t| %>
        <li><%= t.colunm_name %></li>
    <% end %>
</ul>