// Place all the styles related to the admins controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.btn{
    background: #3778ff;
    color: #000032;
    font-weight: bold;
    margin: 0.2vh;
}

td{
    padding: 1vh;
    text-align: center;
}
.name {
    font-weight: bold;
    text-align: left;
}